@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to file explorer.</h1>
    <a asp-controller="home" asp-action="explorer" class="btn btn-primary">Browse files...</a>
</div>
